*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 20px;
}

html{
    scroll-behavior: smooth;
}

a{
    text-decoration: none;
}

ul{
    list-style: none;
}

.navBar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
    background-color: #b6baba;
    width: 100vw;
}
.logo{
    padding-left: 2em;
}
.logo-text{
    font-size: 4em;
}

.tabBar{
    width: 45%;
    margin-left: 8.5em;
}

.list{
    display: flex;
    justify-content: space-between;
}

.list-items a{
    color: brown;
    font-family: fantasy;
    font-size: 1.2em;
    transition: 0.4s;
    font-style: italic;
}
.list-items a:hover{
    color: black;
}

.community{
    height: 28px;
    width: 32;
    display: none;
    color: gray;
}

.activity, .aboutUs, .contact{
    background: black;
    height: 4px;
    margin-top: 4px;
    width: 100%;
    border-radius: 10px;
}