* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 20px;
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}


.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10vh;
  background-color: #c4c8cf;
  width: 100vw;
}

.logo {
  padding-left: 2em;
}

.logoImage {
  width: 10%;
  height: auto;
}

.logo-text {
  font-size: 4em;

}

.menubar {
  width: 45%;
  margin-left: 8.5em;
}

.site-tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

.site-tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-family: "Times New Roman", Times, serif;
}

.site-tab button:hover {
  background-color: #ddd;
}

.site-tab button.active {
  background-color: #ccc;
}

.tabcontent {
  display: none;
  padding: 100px;
  height: max-content;
  border: 5px solid #ccc;
  border-top: 45em;
}

.tabcontent li {
  padding-left: 20px;
  padding-top: 8px;
}

.tabcontent p {
  padding-left: 20px;
  padding-top: 8px;
}

.site-section {
  min-height: calc(100vh - 10vh);

  width: 100%;
  background: url("Images/BlueLight.jpg") center center/cover;
  /* background-repeat: no-repeat; */
  background-attachment: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

.site-section h3 {
  padding-top: 10px;
  padding-bottom: 20px;
}

.postcard {
  padding: 20px;
  border: 1px solid black;
}
.postcardspace{
  padding: 20px;
}

.footer{
    text-align: right;
    padding-top: 20px;
    padding-right: 50px;
}

@media screen and (max-width:768px) {

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 15px;
  }

  .tabcontent {
    display: none;
    padding: 20px;
    border: 5px solid #ccc;
    border-top: 45em;
  }

  .footer{
    text-align: right;
    padding-top: 20px;
    padding-right: 20px;
  }
}